* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  gap: 200px;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

body .info {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

body .info .texto {
  display: flex;
  flex-direction: column;
  height: min-content;
}

h2 {
  color: #baa193;
  font-size: 45px;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #72005f;
  font-size: 100px;
  font-family: "Roboto", sans-serif;
}

a {
  padding: 16px;
  background-color: #72005f;
  color: #fff;
  text-decoration: none;
  width: 100%;
  text-align: center;
  font-size: large;
  border-radius: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

img {
  width: auto;
  height: 500px;
}
